<h1>Tests</h1>
<table>
<% @tests.each do |test| %>
    <tr>
      <td>
        <%= test.title %> ( <%= test.questions.count %> questions 
        for <%= test.time.to_s(:limit) %> minutes)
      </td>
      <td>
 		<%= link_to "Edit", '#' %>  
 	  </td> 
 	  <td>
    	<%= link_to "Delete", '#' %>
      </td>
    </tr> 
  <% end %>
</table>
<%= link_to "Create test", '#',:class => "button round" %>
